Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [2]:
d1={"Name":"Mrinalini","Gender":"Male"}
type(d1)

dict

#  Rules :
    
### Dictionary has no indexing 
### Dictionary is a mutable types
### Keys -> Immutable
### Values -> Mutable
### Keys should be unique

* Mutable =>  List/Sets/Dictionary

* Immutable => Strings/tuples/int/float/Boolean/Complex

# Create Dictionary

In [5]:
d = {}
type(d)

dict

In [6]:
d1={"Name":"Mrinalini","Gender":"Male"}
type(d1)

dict

In [8]:
d1={[1,2,3]:"Mrinalini"}   # error occured as there is list & list is muttable and key value should be immutable
type(d1)

TypeError: unhashable type: 'list'

In [9]:
d1={(1,2,3):"Mrinalini"} # Executable as tuple is immutable and key values too. 
type(d1)

dict

In [10]:
d2 = {"name":"rahul","name":"rohit"}
d2

# Only last entry is shown : Every key instance will be kept but the recent one.

{'name': 'rohit'}


## How to create 2D Dictionary

In [12]:
d3 = {"Name":"Mrinalini Das","College":"Jain University","Marks":{"M1":56,"ML":65,"SQL":66}}
d3

{'Name': 'Mrinalini Das',
 'College': 'Jain University',
 'Marks': {'M1': 56, 'ML': 65, 'SQL': 66}}

## Access from dictionary

In [13]:
d3["Name"]

'Mrinalini Das'

Dictionary Has

* NO INDEXING
* NO NEGATIVE INDEX
* NO SLICLING

So we can fetch only by one way that it by providing the correct key value

In [16]:
d3["Marks"]

{'M1': 56, 'ML': 65, 'SQL': 66}

In [17]:
d3["Marks"]["ML"]

65

## Edit in Dictionary

In [20]:
d3["Name"]="Mri"
d3

{'Name': 'Mri',
 'College': 'Jain University',
 'Marks': {'M1': 56, 'ML': 65, 'SQL': 66}}

In [22]:
d3["Marks"]["M1"]=67
d3

{'Name': 'Mri',
 'College': 'Jain University',
 'Marks': {'M1': 67, 'ML': 65, 'SQL': 66}}

In [23]:
d3.get("Name")

'Mri'

## Add New key value pairs

In [24]:
d3

{'Name': 'Mri',
 'College': 'Jain University',
 'Marks': {'M1': 67, 'ML': 65, 'SQL': 66}}

In [25]:
d3["Age"]=23
d3

{'Name': 'Mri',
 'College': 'Jain University',
 'Marks': {'M1': 67, 'ML': 65, 'SQL': 66},
 'Age': 23}

In [26]:
d3["Marks"]["DA"] = 66
d3

{'Name': 'Mri',
 'College': 'Jain University',
 'Marks': {'M1': 67, 'ML': 65, 'SQL': 66, 'DA': 66},
 'Age': 23}

##  Delete from the Dictionary

In [28]:
d4={}
type(d4)

dict

In [29]:
del d4

In [31]:
del d3["Age"]
d3

{'Name': 'Mri',
 'College': 'Jain University',
 'Marks': {'M1': 67, 'ML': 65, 'SQL': 66, 'DA': 66}}

In [32]:
d2.clear()
d2

{}

## Operations In Dictionary

In [41]:
print(d)
print(d1)
print(d2)
print(d3)

{}
{(1, 2, 3): 'Mrinalini'}
{}
{'Name': 'Mri', 'College': 'Jain University', 'Marks': {'M1': 67, 'ML': 65, 'SQL': 66, 'DA': 66}}

### no concat 
### no multiplications

In [42]:
for i in d3:
    print(i)

# We will get the keys not the values of the key.

Name
College
Marks

In [43]:
for i in d3:
    print(i,d3[i])

Name Mri
College Jain University
Marks {'M1': 67, 'ML': 65, 'SQL': 66, 'DA': 66}

In [44]:
### Membership 

"Mri" in d3

# Dictionary is about the Keys not for the values


"Name" in d3

True

In [45]:
len(d3)

3

In [46]:
min(d3)

'College'

In [47]:
max(d3)

'Name'

In [49]:
sorted(d3)

['College', 'Marks', 'Name']

In [50]:
sorted(d3,reverse=True)

['Name', 'Marks', 'College']

In [51]:
d3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [52]:
d3.values()

dict_values(['Mri', 'Jain University', {'M1': 67, 'ML': 65, 'SQL': 66, 'DA': 66}])

In [53]:
d3.items()

dict_items([('Name', 'Mri'), ('College', 'Jain University'), ('Marks', {'M1': 67, 'ML': 65, 'SQL': 66, 'DA': 66})])

*Thank you*