List

* what is list? 
* list vs Array
* create
* Access
* Edit
* Add
* delete
* operations
* Functions

List : A built-in data type that stores set of values.
    
It can store elements of different types(integer, float, strings, etc.)

In [1]:
marks = [43,23,12,43,25,65]  #=> marks[0], marks[1]....

student = ["mri",23,"bangalore"]  # => student[0]....

student = "ronald" # allowed in python 

len(student)

6

In [2]:
#list vs array

In [4]:
# Creating list 

L = []  # empty list 

L1 = [1,2,3,4] # homogenous list 

L2 = ['Mrinalini',98,1+7] # heterogeneous list

print(L,L1,L2)

[] [1, 2, 3, 4] ['Mrinalini', 98, 8]

In [6]:
#multi- dimensionaly list 
#2D
L3 = [1,2,3,[4,5]]
L3

[1, 2, 3, [4, 5]]

In [7]:
# 3d List 
L4 = [[[1,2],[3,4]],[[5,6],[7,8]]]
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [11]:
L5 = list('mrinalini')
print(L5)

L6 = list()
print(L6)

['m', 'r', 'i', 'n', 'a', 'l', 'i', 'n', 'i']
[]

In [15]:
#removing

print(L1[0])
print(L1[-1])
print(L1)

1
4
[1, 2, 3, 4]

# Accessing the list

In [20]:
#take value from the list which is within the list 

print(L3)     
# putput : [1, 2, 3, [4, 5]]   take the 4 value from the list 

x=L3[-1]  # by this 2nd list will be pull then assign to a variable and pull the
# 0th value 
print(x[0])

[1, 2, 3, [4, 5]]
4

In [21]:
L3[-1][0]

4

In [22]:
L3[-1][-1]

5

In [25]:
print(L4[-1][-1][0])
print(L4[1][1][0])

7
7

# Edit the List

In [31]:
L[0] = 100
# List in python are mutable

In [32]:
L

[100, 300, 400]

In [33]:
L[1:4] = [200,300,400]

In [34]:
L

[100, 200, 300, 400]

# ADD

In [46]:
# 100 add
L.append(1000)
L

[100, 200, 300, 400, 1000, 1000]

In [47]:
L.append("mrinal")  # onlu one item each time
L

[100, 200, 300, 400, 1000, 1000, 'mrinal']

# Remove

In [48]:
# L.remove('mrinal')

# Extend

In [53]:
L

[100, 200, 300, 400, 1000, 1000]

In [55]:
# multiple values can be added in single go
L.extend((500,600))
L

[100, 200, 300, 400, 1000, 1000, 500, 600]

# Insert

In [56]:
# insert at desired destination 

L.insert(1,'world')

In [57]:
L

[100, 'world', 200, 300, 400, 1000, 1000, 500, 600]

# Delete

In [58]:
del L2

# Remove

In [60]:
L.remove('world')

# pop

In [61]:
# deleted from the last item

L.pop()
L

[200, 300, 400, 1000, 1000, 500]

# clear

In [63]:
L.clear()
L

[]

# Operations In List

In [64]:
# Add

L= [1,2,3,4]
L2 = [5,6,7,8]
L+L2

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
L*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [67]:
for i in L:
    print(i)

1
2
3
4

In [69]:
## membership operator

[4,5] in L3

True

# Function

In [70]:
L1

[100, 2, 3, 4]

In [73]:
print(len(L1))
print(min(L1))
print(max(L1))
print(sorted(L1))
print(sorted(L1,reverse = True))

4
2
100
[2, 3, 4, 100]
[100, 4, 3, 2]

In [78]:
L1.index(3)

1

In [80]:
"hello! how are you".title()

'Hello! How Are You'

In [84]:
sample = "how are you?"
print(sample.split())

L=[]

for i in sample.split():
    print(i.capitalize())
    L.append(i.capitalize())
print(L)
             
print("".join(L))

['how', 'are', 'you?']
How
Are
You?
['How', 'Are', 'You?']
HowAreYou?

In [88]:
sample = "mri@gmail.com" 

print(sample[:sample.find("@")])

mri

In [89]:
#remove duplicates from the list
mylist = [1,1,1,1,2,2,2,3,3,4,4]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[1, 2, 3, 4]

In [93]:
# other way to remove duplicates

L1 = [1,1,1,1,2,2,2,3,3,4,4]
L2 = [1,2,3,4]

L=[]
for i in L1:
    if i not in L:
        L.append(i)
print(L)

[1, 2, 3, 4]